{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('commerce-product-full') }}>
  <div class="row">
    <div class="product-left col-sm-6">
      {{ product.field_images }}
    </div>
    <div class="product-left col-sm-6">
      {{ product|without('variation_attributes', 'field_images', 'field_reviews', 'field_related_products') }}
    </div>


    <div class="product-bottom col-sm-12">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#description">{{ 'Description'|t }}</a>
        </li>
        <li>
          <a data-toggle="tab" href="#reviews">
            {{ 'Reviews'|t }}
            {% if reviews_count and reviews_count > 0 %}
              <span class="reviews-count">({{ reviews_count }})</span>
            {% endif %}
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="description" name="description" class="tab-pane fade in active">
          <h3 class="tab-title">{{ 'Description'|t }}</h3>
          <div class="description-content">
            {{ product.body }}
          </div>
        </div>
        <div id="reviews" name="reviews" class="tab-pane fade">
          <h3 class="tab-title">
            {% if reviews_count and reviews_count > 0 %}
              {% if reviews_count == 1 %}
                {% trans with {'context': 'product reviews title' } %}
                  {{ reviews_count }} review for {{ title }}
                {% endtrans %}
              {% else %}
                {% trans with {'context': 'product reviews title' } %}
                  {{ reviews_count }} reviews for {{ title }}
                {% endtrans %}
              {% endif %}
            {% endif %}
          </h3>

          <div class="reviews-content">
            {{ product.field_reviews }}
          </div>
        </div>
      </div>
    </div>


    {% if product.field_related_products|render != '' %}
      <div class="related-products col-sm-12">
        <h3 class="tab-title">{{ 'Related products'|t }}</h3>
        <div class="related-products-items row">
          {{ product.field_related_products }}
        </div>
      </div>
    {% endif %}

  </div>
</article>
